{
	"openapi": "3.0.0",
	"info": {
		"title": "E-schrijvers API",
		"description": "This API is made for e-schrijvers as a school project.",
		"version": "2.1.6"
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		},
		"responses": {
			"UnauthorizedError": {
				"description": "Unauthorized",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"BadRequestError": {
				"description": "Bad request",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"NotFoundError": {
				"description": "Not found",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"ServerError": {
				"description": "Server error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			}
		},
		"schemas": {
			"Error": {
				"type": "object",
				"properties": {
					"status": {
						"type": "integer"
					},
					"message": {
						"type": "string"
					}
				}
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	],
	"servers": [
		{
			"url": "https://solarhosting.nl:60258/api/v1/",
			"description": "Production server"
		},
		{
			"url": "http://localhost:60258/api/v1/",
			"description": "Development server"
		}
	],
	"paths": {
		"/": {
			"get": {
				"summary": "Root endpoint",
				"tags": [
					"Default"
				],
				"description": "This is the root endpoint for the API service",
				"security": [],
				"responses": {
					"418": {
						"description": "I'm a teapot"
					}
				}
			}
		},
		"/contact": {
			"post": {
				"summary": "Contact us",
				"tags": [
					"Default"
				],
				"description": "This endpoint is used to contact us",
				"security": [],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"subject": {
										"type": "string"
									},
									"message": {
										"type": "string"
									}
								},
								"required": [
									"email",
									"name",
									"subject",
									"message"
								]
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Message sent"
					},
					"400": {
						"$ref": "#/components/responses/BadRequestError"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/users/register": {
			"post": {
				"summary": "Register a new user",
				"tags": [
					"Users"
				],
				"description": "This endpoint is used to register a new user",
				"security": [],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string"
									},
									"firstname": {
										"type": "string"
									},
									"lastname": {
										"type": "string"
									},
									"password": {
										"type": "string"
									},
									"phonenumber": {
										"type": "string"
									},
									"seller": {
										"type": "boolean"
									}
								},
								"required": [
									"email",
									"firstName",
									"lastName",
									"password",
									"seller",
									"phoneNumber"
								]
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "User created"
					},
					"400": {
						"$ref": "#/components/responses/BadRequestError"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/users/login": {
			"post": {
				"summary": "Login",
				"tags": [
					"Users"
				],
				"description": "This endpoint is used to login",
				"security": [],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string"
									},
									"password": {
										"type": "string"
									}
								},
								"required": [
									"email",
									"password"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Login successful",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"token": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequestError"
					},
					"401": {
						"$ref": "#/components/responses/UnauthorizedError"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		}
	}
}
