{
	"openapi": "3.0.0",
	"info": {
		"title": "Hanz Car Rentals API",
		"description": "This API is made for Hanz Car Rentals as a school project.",
		"version": "2.1.6",
		"contact": {
			"name": "Hanz",
			"email": "hanzcar.rentals@wolfsoft.solutions",
			"url": "https://www.hanzcar.rentals/support"
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		},
		"responses": {
			"UnauthorizedError": {
				"description": "Unauthorized",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"BadRequestError": {
				"description": "Bad request",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"NotFoundError": {
				"description": "Not found",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"ServerError": {
				"description": "Server error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			}
		},
		"schemas": {
			"Error": {
				"type": "object",
				"properties": {
					"status": {
						"type": "integer"
					},
					"message": {
						"type": "string"
					}
				}
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	],
	"servers": [
		{
			"url": "https://solarhosting.nl:60258/api/v1/",
			"description": "Production server"
		},
		{
			"url": "http://localhost:60258/api/v1/",
			"description": "Development server"
		}
	],
	"paths": {
		"/": {
			"get": {
				"summary": "Root endpoint",
				"tags": [
					"Default"
				],
				"description": "This is the root endpoint for the API service",
				"security": [],
				"responses": {
					"418": {
						"description": "I'm a teapot"
					}
				}
			}
		},
		"/users/register": {
			"post": {
				"summary": "Register a new user",
				"tags": [
					"Users"
				],
				"description": "This endpoint is used to register a new user",
				"security": [],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string"
									},
									"firstname": {
										"type": "string"
									},
									"lastname": {
										"type": "string"
									},
									"password": {
										"type": "string"
									},
									"phonenumber": {
										"type": "string"
									},
									"seller": {
										"type": "boolean"
									}
								},
								"required": [
									"email",
									"firstName",
									"lastName",
									"password",
									"seller",
									"phoneNumber"
								]
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "User created"
					},
					"400": {
						"$ref": "#/components/responses/BadRequestError"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		}
	}
}
